<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="/assets/css/style.css" rel="stylesheet">

    <!--------Fonts ------->
    <link rel="stylesheet" href="https://use.typekit.net/lcj8coq.css">
    <link rel="stylesheet" href="https://use.typekit.net/lcj8coq.css">
</head>
<body class="bg-[#F8F7F5] dark:[#3C3C3C]">
    <header class="grid grid-cols-2 items-center px-20 max-w-7xl mx-auto"> 
            <h3 class="">Name of company</h3>
            <nav class="justify-self-end ">
                <a href="#" class="inline-block py-5 px-3">Nav 1</a>
                <a href="#" class="inline-block py-5 px-3">Nav 2</a>
                <a href="#" class="inline-block py-5 px-3">Nav 3</a>
                <a href="#" class="inline-block py-5 px-3">Nav 4</a>
            </nav>
            <div class="border-b-2 border-black col-span-full"></div>
    </header>

    {{content}}

    <footer class="grid grid-cols-5 border-t-2 border-black section"> 
        <div>
            <h4 class="uppercase mb-4">Lorem ipsum</h4>
            <nav>
                <a href="" class="block">Dolor sit amet</a>
                <a href="" class="block">Consecteur</a>
                <a href="" class="block">Adipiscing</a>
                <a href="" class="block">Sed do</a>
            </nav>
        </div>
        <div>
            <h4 class="uppercase mb-4">Lorem ipsum</h4>
            <nav >
                <a href="" class="block">Dolor sit amet</a>
                <a href="" class="block">Consecteur</a>
                <a href="" class="block">Adipiscing</a>
                <a href="" class="block">Sed do</a>
            </nav>
        </div>
        <div></div>
        <div class="col-span-2 grid justify-items-stretch">
            <form class="justify-self-end">
                <h4 class="uppercase mb-4">Subscribe to our newsletter</h4>
                <input type ="email" id="email" name="email" class="solid border-2 border-black mb-4 w-full uppercase">
                <input type="submit" value="subscribe" class="block bg-black hover:opacity-60 text-white uppercase font-bold py-2 px-8 ml-auto">
            </form>
           
        </div>
    </footer>
</body>
</html>